<div>
  <div class='ui fluid input'>
    <input placeholder='Ссылка католога' class='catalog'/>
  </div>

  <button class='ui button'>Начать следить за каталогом</button>
  <div class='tableplace'>
    <%= this.DeferRender('monitor/active') %>
  </div>
</div>

<%
this.first(function()
{
  var input = this.find('input');
  this.find('button').click(function()
  {
    phoxy.ApiRequest(['monitor/BeginTrackCategory', input.val()], function()
    {
      input.val('');
    })
  })
})
%>